$icon-font-path: '../fonts/';
// bower:scss
@import "bower_components/bootstrap-sass/assets/stylesheets/_bootstrap.scss";
// endbower

/*
 * Globals
 */


$purpleGradient: linear-gradient(144deg, #1f7fe3, #5e41e9, #1766db, #6107e2);
// $blueGreenGradient: linear-gradient(144deg, #1dcbc6, #0799e2, #1db1cb, #078ce2);
// $purpleGradient: linear-gradient(144deg, #1dcbc6, #0799e2, #1db1cb, #078ce2);

/* Links */
a,
a:focus,
a:hover {
  color: #fff;
}

/* Custom default button */
.btn-default,
.btn-default:hover,
.btn-default:focus {
  color: #333;
  text-shadow: none; /* Prevent inheritance from `body` */
  background-color: #fff;
  border: 1px solid #fff;
}


/*
 * Base structure
 */

html,
body {
  height: 100%;
  // background-image: linear-gradient(270deg, #73D4D6, #3FAAAC);
}


body {
  color: #fff;
  text-align: center;
  // text-shadow: 0 1px 3px rgba(0,0,0,.5);
  // background: linear-gradient(144deg, #1dcbc6, #0799e2, #1db1cb, #078ce2);
  background: $purpleGradient;
  background-size: 1000% 1000%;
  animation: rotateGradient 45s ease infinite;
  background-attachment: fixed;
  background-position:20% 20%;
}

sup {
  font-size: 1rem;
}
/* Extra markup and styles for table-esque vertical and horizontal centering */
.site-wrapper {
  display: table;
  width: 100%;
  height: 100%; /* For at least Firefox */
  min-height: 100%;
  // -webkit-box-shadow: inset 0 0 100px rgba(0,0,0,.5);
          // box-shadow: inset 0 0 100px rgba(0,0,0,.5);
}
.site-wrapper-inner {
  display: table-cell;
  vertical-align: top;
}
.cover-container {
  margin-right: auto;
  margin-left: auto;
}

/* Padding for spacing */
.inner {
  padding: 30px;
}


/*
 * Header
 */

// Loading Animations
.masthead-nav, .masthead-brand {
  opacity: 0;
  animation: fadeIn 1s ease-in-out forwards;
}
.cover h1, .cover p, .cover a {
  opacity: 0;
  transform: translate(0,1rem);
  animation: slideIn .3s ease-in-out forwards;
}

.masthead-nav { animation-delay: .0s; }
.masthead-brand { animation-delay: .0s; }
.cover h1 { animation-delay: .15s; }
.cover p { animation-delay: .2s; }
.cover a { animation-delay: .25s; }



.masthead-brand {
  margin-top: 10px;
  margin-bottom: 10px;
}

.masthead-nav > li {
  display: inline-block;
}
.masthead-nav > li + li {
  margin-left: 20px;
}
.masthead-nav > li > a {
  padding-right: 0;
  padding-left: 0;
  font-size: 16px;
  font-weight: 400;
  color: #fff; /* IE8 proofing */
  color: rgba(255,255,255,.75);
  border-bottom: 2px solid transparent;
}
.masthead-nav > li > a:hover,
.masthead-nav > li > a:focus {
  background-color: transparent;
  border-bottom-color: #a9a9a9;
  border-bottom-color: rgba(255,255,255,.25);
}
.masthead-nav > .active > a,
.masthead-nav > .active > a:hover,
.masthead-nav > .active > a:focus {
  color: #fff;
  border-bottom-color: #fff;
}

@media (min-width: 768px) {
  .masthead-brand {
    float: left;
  }
  .masthead-nav {
    float: right;
  }
}


@media (max-width: 767px) {
  h3 {
    font-size: 3rem;
  }
  sup {
    font-size: 1.5rem;
  }

  h1 {
    font-size: 2.4rem;
  }
}


/*
 * Cover
 */

.cover {
  padding: 0 20px;
}

.lead {
  font-weight: 400;
}

.inner.cover {
  max-width: 600px;
  margin: 0 auto 0 auto;
}

.cover .btn-lg {
  padding: 16px 32px;
  color: white;
  background-color: rgba(255,255,255,.3);
  font-weight: bold;
  font-size: 2rem;
  border-radius: 32px;
  border: 0;
  transform: scale(1);
  transition: background-color ease-in-out;
  &:hover {
    background-color: rgba(255,255,255,.2);
  }
  &:active {
    padding: 16px 32px;
    background-color: rgba(255,255,255,.4);;
    color: white;
    outline: 0;
    border: 0;
    box-shadow: none;
  }
}



/*
 * Footer
 */

.mastfoot {
  color: #999; /* IE8 proofing */
  color: rgba(255,255,255,.5);
}


/*
 * Affix and center
 */

@media (min-width: 768px) {
  /* Pull out the header and footer */
  .masthead {
    position: absolute;
    top: 0;
  }
  .mastfoot {
    position: fixed;
    bottom: 0;
  }
  /* Start the vertical centering */
  .site-wrapper-inner {
    vertical-align: middle;
  }
  /* Handle the widths */
  .masthead,
  .mastfoot,
  .cover-container {
    width: 100%; /* Must be percentage or pixels for horizontal alignment */
  }
}

@media (min-width: 992px) {
  .masthead,
  .mastfoot,
  .cover-container {
    width: 800px;
  }

  .masthead .inner {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
  }

  .nav {
    display: inline-block;
  }

}


@-webkit-keyframes rotateGradient {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}
@-moz-keyframes rotateGradient {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}
@-o-keyframes rotateGradient {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}
@keyframes rotateGradient {
    0%{background-position:14% 0%}
    50%{background-position:87% 100%}
    100%{background-position:14% 0%}
}

@keyframes colorFade {
    0% { color: #ffffff }
    20% {color: #02ffbe; }
    40% {color: #023fff; }
    60% {color: #5602ff; }
    80% {color: #fe8eff; }
    100% {color: #91fffb; }
}

@keyframes slideIn {
  0% { opacity: 0; transform: translate(0,1rem); }
  100% { opacity: 1; transform: translate(0,0); }
}

@keyframes fadeIn {
  0% { opacity: 0; }
  100% { opacity: 1; }
}





// .bigc {
//   z-index: -10000;
//   transform-origin: top right;
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: 0;
//   bottom: 55vh;
//   background: linear-gradient(144deg, rgba(255,255,255,.01), rgba(255,255,255,.1));
//   background-size: 1000% 1000%;
//   animation: rotateGradient 5.1s ease infinite;
//   animation-delay: 0s;
//   clip-path: polygon(0 0, 100% 0, 100% 12%, 0% 100%);
// }
//
// .bigc::before {
//   z-index: -9999;
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: 0;
//   bottom: 0;
//   clip-path: polygon(0 0, 100% 0, 100% 8%, 0% 75%);
//   background: linear-gradient(144deg, rgba(255,255,255,.1), rgba(255,255,255,.01));
//   background-size: 1000% 1000%;
//   animation: rotateGradient 5.3s ease infinite;
//   animation-delay: 2.6s;
// }
//
// .bigc::after {
//   z-index: -9998;
//   content: "";
//   position: absolute;
//   top: 0;
//   right: 0;
//   left: 0;
//   bottom: 0;
//   clip-path: polygon(0 0, 100% 0, 100% 4%, 0% 50%);
//   background: linear-gradient(144deg, rgba(255,255,255,.01), rgba(255,255,255,.1));
//   background-size: 1000% 1000%;
//   animation: rotateGradient 5.7s ease infinite;
//   animation-delay: 2.8s;
// }

.bigc {
  //mix-blend-mode: multiply;
  z-index: -10000;
  transform-origin: top right;
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 55vh;
  background: $purpleGradient;
  background-size: 1000% 1000%;
  animation: rotateGradient 45s ease infinite;
  animation-delay: -1.7s;
  clip-path: polygon(0 0, 100% 0, 100% 12%, 0% 100%);
}

.bigc::before {
  z-index: -9999;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 100% 8%, 0% 75%);
  background: $purpleGradient;
  background-size: 1000% 1000%;
  animation: rotateGradient 45s ease infinite;
  animation-delay: -2.3s;
}

.bigc::after {
  z-index: -9998;
  content: "";
  position: absolute;
  top: 0;
  right: 0;
  left: 0;
  bottom: 0;
  clip-path: polygon(0 0, 100% 0, 100% 4%, 0% 50%);
  background: $purpleGradient;
  background-size: 1000% 1000%;
  animation: rotateGradient 45s ease infinite;
  animation-delay: -2.9s;
}




.littlec {
  z-index: -1;
  transform-origin: top right;
  position: absolute;
  top: 60vh;
  right: 0;
  left: 0;
  bottom: -900px;
  background: $purpleGradient;
  background-size: 1000% 1000%;
  animation: rotateGradient 45s 2s ease infinite;
  animation-delay: -2.3s;
  clip-path: polygon(0 30%, 100% 0%, 100% 35%, 0 100%);
}


////////////////////////////// IFRAME //////////////////////////////

.chat {
position: fixed;
  bottom: 2rem;
  right: 2rem;
  // left: calc(100vw - 8rem);
  width: 0;
  height: 0;
  border-radius: 3rem;
  background-color: rgba(255,255,255,.3);
  transition: all .3s ease-in-out, top .3s ease-in-out .3s;
  padding: 3rem;
}

// .chat:hover {
//   transform: scale(1.04);
//   transition: .1s;
// }
//
// .chat.chatting:hover {
//   transform: none;
//   transition: .1s;
// }

.chatting {
  padding: .5rem;
  border-radius: 2rem;
  border: 1px solid hsl(0,0,90);
  background-color: white;
  box-shadow: 0px 4px 32px rgba(0, 0, 0, .1);
}

.frame {
  position: relative;
  display: block;
  height: 0px;
  width: 0px;
  transition: opacity .3s ease-in-out .3s, height .3s ease-in-out, width .3s ease-in-out, border .3s ease-in-out;
  border: 0px solid white;
  outline: none;
  padding: none;
  margin: none;
  opacity: 0;
}

@media (min-width: 768px) {
  .chat {
    width: auto;
    height: auto;
    // top: auto;
    // left: auto;
  }
  .open {
    height: 600px;
    width: 375px;
  }
}

@media (max-width: 767px) {
  .open {
    width: 100%;
    height: 100%;
  }
  .chat.chatting {
    border-radius: 16px 16px 0 0;
  }
  .chatting {
    // top: .5rem;
    bottom: 0rem;
    right: .5rem;
    // left: .5rem;
    // width: auto;
    // height: auto;
    // height: calc(100vh - .5rem);
    height: calc(100% - .5rem);
    width: calc(100vw - 1rem);
  }
}

.open {
  border: 8px solid white;
  border-radius: 4px;
  opacity: 1;
}


/////////////////////// ICON ///////////////////////
.openButton {
  position: absolute;
  top: 0;
  right: 0;
  height: 60px;
  width: 60px;
  border-radius: 100%;
  z-index: 10000;
  cursor: pointer;
}

.L1, .L2 {
  position: absolute;
  display: block;
  top: 20px;
  left: 20px;
  right: 20px;
  bottom: 20px;
  background: rgba(255,255,255,.5);
}

.L1 {
  transform: translateX(6.5px) rotate(45deg) scaleX(1);
}

.L2 {
  transform: translateX(-6.5px) rotate(-45deg) scaleX(1);
}

.chatting .openButton {
  display: none;
}

.chatting .L1, .chatting .L2 {
  opacity: 0;
  transform: translateX(0px) rotate(0deg) scaleX(.9);
  transition: transform .3s ease-in-out .3s, opacity .1s ease-in-out .2s;
}




.closeButton {
  display: block;
  opacity: 0;
  position: absolute;
  top: 28px;
  right: 56px;
  height: 32px;
  width: 32px;
  z-index: 10000;
  transition: opacity .3s ease-in-out;
  transition-delay: .3s;
}

.x1, .x2 {
  position: absolute;
  display: block;
  opacity: 0;
  top: 5px;
  left: 15px;
  right: 15px;
  bottom: 5px;
  background: rgb(115, 115, 115);
}

.x1 {
  transform: rotate(65deg) ;
}

.x2 {
  transform: rotate(-65deg) ;
}

.chatting .closeButton {
  display: block;
  opacity: 1;
}

.chatting .x1, .chatting .x2 {
  opacity: 1;
  // transition: transform .2s ease-in-out .2s, opacity .2s ease-in-out .2s,;
}

.chatting .x1 {
  transform: rotate(45deg) ;
}

.chatting .x2 {
  transform: rotate(-45deg) ;
}



////////////// SECTION ////////////////
.taller {
  z-index: -10;
  position: absolute;
  width: 100vw;
  height: 1000px;
  background: $purpleGradient;
  background-size: 1000% 1000%;
  animation: rotateGradient 45s ease infinite;
  animation-delay: -22.5s;
  background-attachment: fixed;
  background-position:20% 20%;
}


////////////// INPUT /////////////////
input[type='text'] {
  display: inline-block;
  box-sizing: border-box;
  // width: 50vw;
  // min-width: 300px;
  // max-width: 100%;
  width: calc(100% - 2rem);
  color: #16161d;
  padding: 1rem 1rem 1rem 2rem;
  // border-radius: 3rem 0 0 3rem;
  border-radius: 3rem;
  border: 4px solid white;
  // transition: border .1s linear;
  &:focus {
    outline: none;
  }
  &::selection {
    background: rgb(255, 93, 193);
  }
}
input[type='submit'] {
  display: inline-block;
  padding: 1rem 2rem 1rem 1.5rem;
  font-weight: bolder;
  border-radius: 0 3rem 3rem 0;
  border: none;
  background-color: rgb(0, 102, 255);
  &:focus {
    outline: none;
  }
  &:hover {
    background-color: lighten(rgb(0, 102, 255), 5%);
  }
  &:active {
    background-color: darken(rgb(0, 102, 255,), 5%);
  }
}

span.formMessage {
  opacity: 0;
}
span.formMessage.error {
  opacity: 1;
  color: rgb(255, 92, 199);
}

input.error {
  border-color: rgb(250, 49, 181);
}

iframe body>img {
  width: 100%;
}

.closeButton.error span {
  background-color: white;
}
